{% extends "layouts/base.njk" %} 
{% block content %}
    <div class='container'>

        <header class='header__main'>
            <h1>{{ title }}</h1>

            
        </header>

            {% include "partials/nav.njk" %}

        <main>


            {{ content | safe }}

        </main>

        

    </div>

{% endblock %}